<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>The Burger Place</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap"
		rel="stylesheet">

</head>

<body
	style="background-image: url(
	https://lh3.googleusercontent.com/proxy/vqqbwMs0frxskbXkBNM9ol6BZzyZ5jdMzdIa1IQ_EvctblVpDUqyjtBTjwCRqKV5jAe0sa0QZX9S8G8kgfZz8JBD6CDa-EOYWld1fAHhVeCq9XWn3laKFxQ5-zhdb3S8tsJ77CPwFg);">
	{{{ body }}}
</body>

</html>