.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

h1,
h2,
form,
ul {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-image: url(https://lh3.googleusercontent.com/proxy/vqqbwMs0frxskbXkBNM9ol6BZzyZ5jdMzdIa1IQ_EvctblVpDUqyjtBTjwCRqKV5jAe0sa0QZX9S8G8kgfZz8JBD6CDa-EOYWld1fAHhVeCq9XWn3laKFxQ5-zhdb3S8tsJ77CPwFg);
  /* background-repeat: repeat; */
}

.change-devour,
.delete-burger,
.add-burger {
  font-family: "Roboto Condensed", sans-serif;
  margin: 3px;
}
